

<form action="/students/" method="post" enctype="multipart/form-data">
	<input type="text" name="first_name" />
	<input type="text" name="last_name" />
	<button type=submit>Create student account</button>
</form>
