body {
	background-color: peachpuff;
}

.main{
	border:3px solid black;
	width: 90%;
	height: 20%;


}

.center{
	border:3px solid green;
	width: 90%;
	height: 50%;



}

.bottom{
	border:3px solid blue;
	width: 90%;
	height: 20%;



}